label {
    display: flex;
    flex-direction: row;
}
#visibility {
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 300px;
    position: absolute;
}
a {
    padding-left: 10px;
    font-size: 14px;
}
input {
    border: none;
    background-color: #f2f2f2;
    padding: 15px;
    min-width: 300px;
    width: 20vw;
    border-radius: 5px 5px 5px 5px;
    transition: box-shadow 0.2s ease-out;
    /*transition: border-right 0.2s ease-in-out, border-bottom 0.2s ease-in-out;*/
}
input:focus {
    box-shadow: #333333 3px 4px;
    outline: none;
/*   border-right: #333333 3px solid;
    border-bottom: #333333 4px solid;
    */ 
}
input::placeholder {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
}