.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}
.container img {
    max-width: 200px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 20px 40px 20px;
}
.error{
    color: #dc2626;
    font-size: 12px;
    background-color: #fecaca;
    border: #dc2626 solid 1px;
    border-radius: 8px;
}
#submit{
    min-width: 330px;
    width: 20vw;
    padding: 10px 15px 10px 15px;
    background-color: #007aff;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    transition: box-shadow 1s ease-in-out, background-color 1s ease-in-out,color 1s ease-in-out, border 1s ease-in-out;
}
#submit:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    color: #007aff;
    border: #007aff 1px solid;
}
.signGoogle{
    border-top: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 20px 20px 20px;
    max-width: 325px;
}
.signGoogle button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #333333;
    color: #ffffff;
    min-width: 330px;
    width: 20vw;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    transition: box-shadow 1s ease-in-out, background-color 1s ease-in-out,color 1s ease-in-out, border 1s ease-in-out;
}
.signGoogle button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #ffffff;
    color: #333333;
    border: #333333 1px solid;
}
.signGoogle button img {
    max-width: 20px;
}
.signGoogle p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#signUp {
    text-decoration: none;
    color: #007aff;
    font-size: 14px;
}

@media only screen and (max-width: 700px){
    .container{
        flex-direction: column-reverse;
    }
}