#root {
  margin: 0 ;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
}
.imgLat{
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/img/imgSide.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: bottom;
}

